$font: "Manrope", sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.topNav {
    display: flex;
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 0;
    align-items: center;

    .logo {
        height: 100%;
        img {
            border-radius: 100%;
            margin: 0.5rem 1rem;
            height: 70%;
        }
    }

    .linkDoc {
        margin: 0.5rem;
        margin-right: 1rem;
        margin-left: auto;

        button {
            height: 2.25rem;
            background: transparent;
            border: 2px solid rgb(20, 47, 67);
            padding: 0.5rem 1rem;
            border-radius: 8px;
            color: rgb(20, 47, 67);
            font-family: $font;
            display: flex;
            align-items: center;
            font-weight: 800;
            cursor: pointer;
        }
    }
}

.dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #29e7cd;
    // background-image: linear-gradient(315deg, #29e7cd 0%, #fffbfc 74%);
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #b5d1fc 0%, #f8d4da 74%);
}

.con {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 15px rgba(63, 63, 63, 0.137);
    animation: appear 1s ease-in-out forwards;
    z-index: 100;
    margin-top: 2rem;
}

.tailDash {
    display: flex;
    width: 70%;
    height: 5%;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(63, 63, 63, 0.137);
    // border-top: 2px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 0 0 20px 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
        color: rgb(0, 0, 0);
        margin-left: auto;
    }

    h1 {
        font-size: 1.25rem;
        color: rgb(0, 0, 0);
        margin-left: 1rem;
        margin-right: 3.5rem;
    }
    opacity: 0;
    animation: swipeDown 0.5s forwards 1s;

    // &:hover {
    //     position: relative;
    //     //  border-top: 2px solid rgba(0, 0, 0, 0.103);
    //     &::after {
    //         content: "View historic data";
    //         display: flex;
    //         font-weight: 800;
    //         font-size: larger;
    //         justify-content: center;
    //         align-items: center;
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         background-color: rgba(255, 0, 76, 0.103);
    //         backdrop-filter: blur(0.2rem);
    //         animation: appearOp 0.5s ease-in-out forwards;
    //     }
    // }
}

.tailGraph {
    @extend .tailDash;
    // &:hover {
    //     &::after {
    //         content: "View Dashboard";
    //     }
    // }
}

.head {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.144);
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    justify-content: center;

    h1 {
        font-size: 1.1rem;
        color: rgb(20, 47, 67);
        font-weight: 600;
        margin-right: auto;
        margin-left: 3rem;
    }

    nav {
        margin-right: 3rem;
        display: flex;
        align-items: center;
        button {
            margin: 0.5rem;
            border: 1.5px solid rgba(255, 255, 255, 0.322);
            border-radius: 8px;
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            font-family: $font;
            color: rgb(131, 131, 131);
            font-weight: 500;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.726);

            &:hover {
                background-color: rgba(128, 128, 128, 0.192);
            }
        }

        .stat {
            height: 1.5rem;
            margin: auto 0.5rem;
        }

        .selected {
            transition: all 0.7s;
            background-color: rgb(20, 47, 67);
            border: 1.5px solid rgb(255, 255, 255);
            color: white;

            &:hover {
                background-color: rgb(20, 47, 67);
            }

            //background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        }

        .divider {
            display: flex;
            width: 0.2rem;
            height: 1.9rem;
            margin: 0 1rem;
            margin-right: 0.5rem;
            background-color: rgba(255, 255, 255, 0.61);
            border-radius: 100px;
        }
    }
}

.dropdown {
    display: flex;
    position: relative;
    cursor: pointer;
    &:hover {
        .dropdownList {
            display: block;
        }
    }

    span {
        display: flex;
        width: 8rem;
        border-radius: 8px;
        padding: 0.55rem 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.726);
        padding-right: 0.5rem;
        font-size: 0.9rem;
        font-family: $font;
        color: rgb(131, 131, 131);
        &::after {
            content: "▼";
            color: rgba(128, 128, 128, 0.26);
            font-weight: bold;
            margin-left: auto;
        }
    }

    &List {
        display: none;
        position: absolute;
        width: 9.5rem;
        top: 100%;
        background-color: rgb(255, 255, 255);
        padding: 0 0;
        border-radius: 8px;
        z-index: 100;
        list-style: none;
        margin: 0;
        margin-top: 0.15rem;
        overflow: hidden;
        animation: appearOp 0.35s ease-in-out forwards;

        li {
            font-size: 1rem;
            // margin: 0.25rem 0;
            width: 100%;
            box-sizing: border-box;
            padding: 0.25rem 0.85rem;
            color: rgb(131, 131, 131);
            &:hover {
                background-color: rgb(247, 247, 247);
                cursor: pointer;
            }
        }
        // display: none;
    }
}

//$table_layout: 2.5fr 1.5fr 1fr 1fr 1fr 1fr;
$table_layout: 2.5fr 1.25fr 1fr 1fr;

.body {
    display: flex;
    width: auto;
    margin: 2rem 3rem;
    margin-right: 0;
    max-height: 100%;
    flex-direction: column;
    overflow: hidden;

    .titles {
        display: flex;
        width: 100%;

        ul {
            display: grid;
            justify-items: left;
            width: 100%;
            list-style: none;
            grid-template-columns: $table_layout;
            font-size: 0.8rem;
            color: #924042;
            font-weight: 500;
            padding-left: 0;
            padding-left: 1.25rem;
            margin-right: 3.25rem;
        }
    }

    .data {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow-y: auto;
        width: 100%;
        animation: appearOp 1s ease-in-out forwards;

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #f5f5f5;
            border-radius: 15px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #a1a1a1;
        }

        .entry {
            display: flex;
            width: auto;
            background-color: rgba(255, 255, 255, 0.712);
            margin: 0.5rem 0;
            margin-right: 2.5rem;
            border-radius: 8px;
            height: min-content;
            position: relative;

            ul {
                display: grid;
                justify-items: left;
                width: 100%;
                list-style: none;
                grid-template-columns: $table_layout;
                font-size: 1rem;
                color: rgb(0, 0, 0);
                font-weight: 500;
                padding-left: 1.25rem;
            }

            li {
                display: flex;
                align-items: center;
            }

            .tokenImage {
                height: 1.25rem;
                object-fit: contain;
                margin: auto 0.5rem;
                margin-left: 0;
            }

            .na {
                font-size: 0.8rem;
                color: rgba(0, 0, 0, 0.521);
            }

            .price {
                display: flex;
                align-items: center;
            }

            .usd {
                font-size: 0.7rem;
                margin-bottom: 0.15rem;
                margin-top: auto;
                margin-left: 0.4rem;
                color: rgb(148, 148, 148);
            }
        }

        .proofOfWork {
            cursor: pointer;
            &:hover {
                &::after {
                    animation: appearOp 1s ease-in-out forwards;
                    content: "View Project";
                    background-color: rgb(255, 255, 255);
                    color: rgb(58, 58, 58);
                    margin: 0;
                    padding: 0;
                    border-radius: 0 8px 0 12px;
                    padding: 0.2rem 0.5rem;
                    font-size: 0.8rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: max-content;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;

                    @media screen and (max-width: 1000px) {
                        top: 0.5rem;
                        bottom: 0;
                        height: max-content;
                        background-color: rgba(0, 0, 0, 0.027);
                        color: black;
                    }
                }
            }
        }
    }
}

.project {
    margin-right: 1rem;
    line-height: 150%;
}

$mob_width: 50rem;

@media screen and (max-width: 360px) {
    * {
        font-size: 80%;
    }
}

@media screen and (max-width: 530px) {
    nav{
        flex-direction: column;
    }

    *{
        font-size: 80%;
    }

    .topNav{
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .dashboard {
        height: auto;
        min-height: 100vh;
        width: 100%;
    }

    .con {
        margin-top: 6rem;
        width: 95%;
        //  min-height: 80vh;
    }

    .head {
        margin: 2rem 0;
        flex-direction: column;
        h1 {
            font-size: 0.8rem;
            margin: 0 auto;
        }
        nav {
            margin: 0.5rem 0;
        }
    }

    .body {
        margin: 0rem 1rem;

        .titles {
            overflow-x: auto;
            width: 100%;
            margin-right: 0.25rem;
            ul {
                min-width: $mob_width;
                overflow-x: auto;
                grid-template-columns: $table_layout;
                margin-right: 0rem;
            }
        }

        .data {
            .entry {
                overflow-x: auto;
                margin-right: 0.25rem;
                ul {
                    min-width: $mob_width;
                    overflow-x: auto;
                    grid-template-columns: $table_layout;

                    li {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .tailDash {
        width: 95%;
        margin-bottom: 2rem;
    }
    .tailGraph {
        width: 95%;
        margin-bottom: 2rem;
    }
}

@keyframes swipeDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearOp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
